extends layout.pug

block head
  title Contact
  {% if (o.less) { %}link(href="css/global.less" type="text/css" rel="stylesheet"){% } %}
  {% if (o.css) { %}link(href="css/global.css" type="text/css" rel="stylesheet"){% } %}

block content
  p hello,world
  script(src="js/time.js")
